*{
    margin: 0;
    padding: 0;
    font-family: 'Indie Flower', cursive;
}


button, link, a, .dropLogout, .logout, .edit, .delete, .save, .add, .collectionTitle{
    cursor: pointer;
}

button:focus{
    outline: 0;
}

button:hover, button:active, link:hover, link:active, a:hover, a:active, .dropLogout:hover, .dropLogout:active, .logout:hover, .logout:active, .edit:hover, .edit:active, .delete:hover, .delete:active, .save:hover, .save:active, .add:hover, .add:active, .collectionTitle:hover, .collectionTitle:active{
    transform: scale(1.1); 

}