.homeNotes, .homeCollection{
    display: grid;
    grid-template-columns: 1fr 2fr 6fr 1fr;
    grid-gap: 10%;
    margin-top: 5%;
    font-size: 30px;
}

.noteText, .collectionText{
    grid-column: 2/3;
    align-self: center;
    justify-self: center;
}
.homeNotes > img, .homeCollection > img{
    grid-column: 3/4;
    width: 100%;

}

.homeCollection{
    transform: skewY(5deg);
    background-color: #eaa02f;
    padding-top: 5%;
    padding-bottom: 5%;
}

.homeCollection> div, .homeCollection > img{
    transform: skewY(-5deg);
}