.profilePage{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 3fr 7fr 2fr;
    grid-auto-rows: auto;
    font-size: 30px;
}

/* .profileBackgroundColor{
    background-color: coral;
    grid-column: 2/3;
    grid-row: 1/4;
} */

.profile{
    grid-column: 2/3;
}

.profileGrid{
    display: grid;
    grid-template-columns: 2fr 2fr;
    font-size: 30px;

}

.labels{
    grid-column: 1/2;
    padding-left: 13%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.userInfo{
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60vh;
}

.profileEdit{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.editUserForm{
    background-color: coral;
    grid-column: 2/3;
    grid-row: 1/4;
    padding-top: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 130%;
    grid-gap: 30%;
}

.editUserForm > input{
    width: 250px;
    height: 60px;
    line-height: 2;
    padding: 2%;
    border-radius: 15px;
    font-size: 20px;
    background-color: #e2dfdf;
    border: none;
    text-align: center;
}

.saveUserButton{
    border: none;
    background-color: #ecece300;
}


.profile, .editUserForm{
    background-color: coral;
    border-radius: 15px;
}