.profilePage{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-auto-rows: auto;
    font-size: 30px;
}

.profileContainer{
    grid-column: 2/3;
}

.profileGrid{
    display: grid;
    grid-template-columns: 2fr 2fr;
    font-size: 30px;

}

.labels{
    grid-column: 1/2;
    margin-left: 13%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.userInfo{
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60vh;
}

.profileEdit{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.editUserForm{
    background-color: #f4a698;
    grid-column: 2/3;
    grid-row: 1/4;
    padding-top: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 130%;
    grid-gap: 30%;
}

.editUserForm > input{
    width: 80%;
    height: 30px;
    line-height: 2;
    padding: 2%;
    border-radius: 15px;
    font-size: 20px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;    border: none;
}

.saveUserButton{
    border: none;
    background-color: #ecece300;
    margin-bottom: 2%;
}


.profileContainer, .editUserForm{
    background-color: #f4a698;
    border-radius: 15px;
}

.editPage{
    margin-bottom:2%;
}